.block {
  .block-title {}
  .block-content {}
}

/*== BLOCK: search */
.block-search {
  background: $block-search-bg;
  float: right;
  height: 100%;
  padding: 0 10px;
  position: absolute;
  right: 70px;
  width: 320px;
  .input-group {
    top: 15px;
    .form-control {
      background: none;
      border: 0 none;
      box-shadow: none;
      &:focus,
      &:hover {
        box-shadow: none;
      }
    }
  }
}

/* Block: Login */
.block-login {
  border-right: 1px solid #dfdfdf;
  padding-right: 25px;
  @media (max-width: ($screen-tablet - 1)) {
    border-right: 0 none;
    padding-right: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li,
    li:first-child,
    li:last-child {
      display: block;
      margin: 0 0 10px;
      padding: 0;
    }
  }
}

/* Block: Signup */
.block-signup {
  border-left: 1px solid #f1f3f5;
  padding-left: 25px;
  @media (max-width: ($screen-tablet - 1)) {
    border-left: 0 none;
    padding-left: 0;
  }
}