/* Channels ===================== */
.channel-name,
.video-name {
  color: $white;
  font-family: "BebasKai-Regular", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.channel-view {
  @extend .bkg-icon;
  background-position: 0 -64px;
  color: $gray;
  font-size: $font-size-small;
  height: 17px;
  line-height: 17px;
  padding: 0 5px 0 30px;
}

.channel-icon,
.channel-icon img {
  @extend .img-responsive;
}

.channel-info {
  margin: 0 0 30px;
  .channel-icon {
    float: left;
    margin: 0 30px 0 0;
    max-width: 65px;
  }
  .channel-des {
    float: left;
    .channel-name {
      color: $brand-primary;
      font-size: 35px;
      float: left;
      margin: 5px 20px 0 0;
    }
    .channel-actions {
      float: left;
      li {
        @extend .bkg-icon;
        @extend .w-300;
        color: $black;
        float: left;
        margin: 21px 10px 0 0;
        padding: 0 0 0 17px;
        &.channel-subcribler {
          background-position: -692px -137px;
        }
        &.channel-view {
          background-position: -690px -83px;
        }
      }
    }
  }
  .btn-subcrible {
    margin: 8px 0 0 0;
  }
}

.channel-content {
  .nav-tabs {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
  }
}

img.channel-image,
.channel-image img,
img.channel-banner,
.channel-banner img {
  @extend .img-responsive;
  display: inline-block;
}

.channel-banner {
  position: relative;
  .channel-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    .btn {
      margin: 0 0 0 5px;
      @media (max-width: 480px) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

.channels-list {
  .item {
    @extend .clearfix;
    margin: 0 0 15px 0;
    .channel-image {
      float: left;
      margin: 0 10px 0 0;
    }
    .channel-des {
      .channel-name {
        font-family: $font-family-base;
        font-size: $font-size-small;
        font-weight: 600;
        margin: 0 0 5px;
        text-transform: capitalize;
        a:active,
        a:focus,
        a:hover {
          color: $red;
          text-decoration: none;
        }
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}

.channel-des {
  margin: 0 0 10px;
}
