@font-face {
  font-family: 'BebasKai-Regular';
  src: font_url('BebasKai-Regular.eot');
  src: local('☺'), font_url('BebasKai-Regular.woff') format('woff'),
  font_url('BebasKai-Regular.ttf') format('truetype'),
  font_url('BebasKai-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'VideoJS';
  src: font_url('vjs.eot');
  src: font_url('vjs.eot?#iefix') format('embedded-opentype'),
  font_url('vjs.woff') format('woff'),
  font_url('vjs.ttf') format('truetype'),
  font_url('vjs.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-bebaskai {
  font-family: "BebasKai-Regular", Helvetica, sans-serif;
}