@font-face {
  font-family: 'MyriadProRegular';
  src: font_url('myriadpro-regular.eot');
  src: font_url('myriadpro-regular.eot') format('embedded-opentype'),
  font_url('myriadpro-regular.woff2') format('woff2'),
  font_url('myriadpro-regular.woff') format('woff'),
  font_url('myriadpro-regular.ttf') format('truetype'),
  font_url('myriadpro-regular.svg#MyriadProRegular') format('svg');
  font-style: normal;
  font-weight: normal;
}
