.footer {
  background-color: $footer-bg;
  color: $footer-color;
  font: 300 13px Helvetica, Arial, sans-serif;
  padding: $footer-padding 0;
  a {
    color: $footer-link-color;
    &:active,
    &:focus,
    &:hover {
      color: $footer-link-color-hover;
      text-decoration: none;
    }
  }
  .links {
    padding-top: 5px;
  }
  .copy-right {
    margin: 20px 0;
  }
  .social-links {
    text-align: right;
    line-height: 0;
    li {
      line-height: 0;
    }
    a {
      @extend .bkg-icon;
      @extend .inline-block;
      @extend .text-hide;
      height: 32px;
      width: 33px;
      &.link-pinterest {
        background-position: -58px 0;
        &:active,
        &:focus,
        &:hover {
          background-position: -242px 0;
        }
      }
      &.link-twitter {
        background-position: -104px 0;
        &:active,
        &:focus,
        &:hover {
          background-position: -289px 0;
        }
      }
      &.link-facebook {
        background-position: -151px 0;
        &:active,
        &:focus,
        &:hover {
          background-position: -336px 0;
        }
      }
      &.link-g {
        background-position: -198px 0;
        &:active,
        &:focus,
        &:hover {
          background-position: -382px 0;
        }
      }
    }
  }
}