form {
  border: 0;
}

fieldset {
  border: 0;
}

/* Button ====================================================== */
/* Button: Search */
button.btn-search {
  background: image_url('icons/ico-search.png') no-repeat 0px 0px;
  width: 25px;
  height: 26px;
  @extend .text-hide;
  &:focus,
  &:hover {
    background-position: 0 -36px;
  }
}

/* Button: Play */
.btn-video-play {
  @extend .btn;
  @extend .bkg-icon;
  @extend .text-hide;
  background-position: -466px 0px;
  border-radius: 0;
  height: 40px;
  left: 50%;
  margin: 0 0 0 -20px;
  padding: 0;
  position: absolute;
  top: 30px;
  width: 40px;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  &:focus,
  &:hover {
    background-position: -518px 0px;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

/* Button: large */
.btn-100 {
  @extend .w-300;
  @extend .text-center;
  font-size: $font-size-large;
  padding: 8px 0;
  width: 100%;
}

/* Button: facebook */
.btn-Facebook {
  @extend .bkg-icon;
  background-color: $face-color;
  background-position: -566px -135px;
  background-size: 600px auto;
  color: $white;
  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

.btn-Twitter {
  @extend .bkg-icon;
  background-color: $twitter-color;
  background-position: -564px -202px;
  background-size: 600px auto;
  color: $white;
  &:focus,
  &:hover {
    opacity: 0.8;
  }
}

// Alert
.alert {
  @extend .w-300;
  &.alert-dismissible .close {
    right: 0;
  }

  &.alert-alert,
  &.alert-error {
    @extend .alert-danger;
  }

  &.alert-notice {
    @extend .alert-success;
  }
}
