form {
  border: 0;
}

fieldset {
  border: 0;
}

button.btn-search {
  background: image_url('icons/ico-search.png') no-repeat 0px 0px;
  width: 25px;
  height: 26px;
  @extend .text-hide;
  &:focus,
  &:hover {
    background-position: 0 -36px;
  }
}