form {
  border: 0;
}

fieldset {
  border: 0;
}

button.btn-search {
  background: image_url('icons/ico-search.png') no-repeat 0px 0px;
  width: 25px;
  height: 26px;
  @extend .text-hide;
  &:focus,
  &:hover {
    background-position: 0 -36px;
  }
}

.btn-video-play {
  @extend .btn;
  @extend .bkg-icon;
  @extend .text-hide;
  background-position: -466px 0px;
  border-radius: 0;
  height: 40px;
  left: 50%;
  margin: 0 0 0 -20px;
  padding: 0;
  position: absolute;
  top: 30px;
  width: 40px;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  &:focus,
  &:hover {
    background-position: -518px 0px;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}