header {
  .top-menu {
    background-color: $black;
    color: $white;
    padding: $padding-small-vertical;
    position: relative;
    @extend .text-right;
    @extend .w-300;
    ul {
      @extend .list-inline;
      a {
        color: $white;
        &:active,
        &:focus,
        &:hover {
          color: $second-color;
          text-decoration: none;
        }
      }
    }
    #google_translate_element {
      font-family: Helvetica, Arial, sans-serif;
      .goog-te-gadget-simple {
        background: none;
        border: 0 none;
        color: #fff;
        @extend .w-300;
      }
      img.goog-te-gadget-icon,
      .goog-te-menu-value img {
        @extend .hide;
      }
      .goog-te-menu-value span {
        font-family: Helvetica, Arial, sans-serif;
        display: none;
        vertical-align: middle;
        white-space: nowrap;
        &:first-child {
          color: $white;
          display: inline-block;
          @extend .w-300;
          &:focus,
          &:hover {
            color: $second-color;
          }
        }
        &:last-child {
          @extend .bkg-icon;
          @extend .text-hide;
          background-position: -305px 0;
          background-size: 500px auto;
          display: inline-block;
          height: 16px;
          margin: 0 0 0 5px;
          width: 17px;
        }
      }
    }
    .dropdown {
      &.open {
        a {
          color: $second-color;
        }
        .dropdown-menu a {
          color: $link-color;
          &:active,
          &:focus,
          &:hover {
            color: $link-hover-color;
          }
          &.btn-100 {
            color: $white;
            font-size: $font-size-base;
            &:active,
            &:focus,
            &:hover {
              color: $white;
            }
          }
        }
      }
      .dropdown-menu li {
        display: block;
        margin: 0;
      }
      &.dropdown-new {
        position: static;
        div.dropdown-menu {
          background: $dropdown-bg-second;
          color: $gray;
          border: none;
          border-radius: 0;
          padding: 0;
          width: 100%;
          .btn {
            margin-bottom: 10px;
          }
        }
      }
      #mnuUser {
        @extend .bkg-icon;
        background-position: 0 -137px;
        background-size: 565px auto;
        padding: 0 0 0 25px;
        strong {
          font-weight: 300;
        }
      }
    }
  }

  .logo a {
    @extend .bkg-icon;
    @extend .text-hide;
    background-position: 100% 0;
    background-size: 550px auto;
    display: block;
    height: 42px;
    width: 105px;
  }

  .navbar .container {
    position: relative;
  }

  .quick-access {
    float: right;
    width: 60%;
    .dropdown {
      float: right;
      padding-top: 4px;
      button {
        color: $iconbar-color;
        border: 0 none;
        font-size: $iconbar-font-size;
        &:active,
        &:focus,
        &:hover {
          color: $iconbar-color-hover;
          outline: none;
        }
      }
      .dropdown-menu {
        left: auto;
        right: 0;
      }
    }
  }
}



