h1.logo {
  cursor: pointer;
  margin: 10px 0;
  padding: 0;
  line-height: 1;
}

.title,
.page-header {
  @extend .clearfix;
  color: $white;
  font-family: "BebasKai-Regular", Helvetica, sans-serif;
  font-size: 28pt;
  font-weight: 300;
  margin: 0 0 20px;
  padding: 0;
  text-align: right;
  h1,
  h2 {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
  }
}

.page-header {
  color: $brand-primary;
  border-bottom: 0 none;
}

.link-more {
  text-decoration: underline;
}

.link-more:focus,
.link-more:hover{
  text-decoration: none;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-5{
  margin-bottom: 5px !important;
}