h1.logo {
  margin: 10px 0;
  padding: 0;
  line-height: 1;
}

.title {
  color: $white;
  font-family: "BebasKai-Regular", Helvetica, sans-serif;
  font-size: 28pt;
  font-weight: 300;
  margin: 0;
  padding: 0;
}