//== Colors
//
$white:                           #fff;
$black:                           #000;
$red:                             #ed2328;
$brand-primary:                   #232d65;

//== Scaffolding
//
$body-bg:                         #000 !default;
$text-color:                      #333 !default;

//== Typography
//
$font-family-base:                Arial, Helvetica, sans-serif !default;
$font-size-base:                  13px !default;

//== Navbar
//
$navbar-height:                    50px !default;
$navbar-margin-bottom:             0 !default;
$navbar-border-radius:             0 !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                $white !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

//== Header
//
// icon bar
$iconbar-font-size:                29px;
$iconbar-color:                    $black;
$iconbar-color-hover:              $red;

//== Block
//
// Block: search
$block-search-bg:                  #ecf0f1;


//== Footer
//
$footer-bg:                        transparent;
$footer-padding:                   20px;
$footer-color:                     #737373;

// Footer links
$footer-link-color:                 $white;
$footer-link-color-hover:           $brand-primary;


@import "bootstrap/variables";
@import "bootstrap/mixins";
