/* Video ================== */
.video-poster {
  @extend .img-responsive;
  display: inline-block;
}



.video-shortdes {
  font-size: $font-size-small;
  margin: 0;
}

.video-att-info {
  @extend .w-300;
  color: $gray;
  font-size: $font-size-small;
}

.video-like {
  @extend .bkg-icon;
  background-position: -689px -103px;
}

.video-view {
  @extend .bkg-icon;
  background-position: -689px -85px;
}

.video-comment {
  @extend .bkg-icon;
  background-position: -689px -122px;
}

.video-actions li {
  @extend .inline-block;
  padding: 0 20px 0 18px;
}

.video-description {
  @extend .w-300;
  background: $black;
  color: $gray;
  margin: 0 0 15px;
  padding: 20px 40px;
  .video-date {
    float: left;
    margin: 0 50px 0 0;
  }
  .video-actions {
    margin: 0 0 15px;
  }
  .video-name {
    font-size: 28pt;
    margin: 0 0 15px;
    span {
      display: block;
      padding: $padding-small-vertical 0;
    }
    a {
      text-decoration: none;
    }
  }
}

.video-channels {
  color: #d6d6d6;
  .item {
    margin: 0 0 20px;
    position: relative;
    .video-actions {
      background: rgba(0,0,0,0.4);
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 100%;
      z-index: $zindex-tooltip;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      .channel-name {
        @extend .inline-block;
      }
      .channel-view {
        position: absolute;
        top: 10px;
        right: 0;
      }
      .video-shortdes {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
    &:focus,
    &:hover {
      .video-actions {
        background: none;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        .btn-video-play {
          background-position: -518px 0px;
          -webkit-transition: all 0s ease 0s;
          -moz-transition: all 0s ease 0s;
          -o-transition: all 0s ease 0s;
          transition: all 0s ease 0s;
        }
      }
    }
  }
}

/* Video player */
.video-js {
  height: 100%;
  width: 100%;

  .vjs-big-play-button {
    background: rgba(100, 100, 100, 0.4);
    border-color: transparent;
    border-radius: 50%;
    font-size: 18pt;
    height: 50px;
    line-height: 48px;
    left: 50%;
    margin: -25px 0 0 -25px;
    top: 50%;
    width: 50px;
    &::before {
      color: $white;
      line-height: 45px;
      left: 2px;
    }
    &:focus,
    &:hover {
      background: $red;
      border-color: transparent;
    }
  }
  &:focus .vjs-big-play-button,
  &:hover .vjs-big-play-button {
    background: $red;
    border-color: transparent;
  }

  .vjs-control-bar {
    background: #000;
  }

  .vjs-slider {
    background-color: #fff;
  }

  .vjs-play-progress,
  .vjs-volume-level {
    background-color: #ff0000;
  }
}

.vjs-poster {
  background-position: 0 0;
  background-size: cover;
}

.video-js .vjs-tech {
  position: static;
}

.channel-banner {
  .video-player {
    background: $gray;
    border: 10px solid $black;
    overflow: hidden;
    img {
      @extend .img-responsive;
      display: inline-block;
      max-height: 500px;
      opacity: 0.8;
      width: 100%;
    }
    .video-actions {
      background: rgba(0,0,0,0.4);
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
    }
    .btn-video-play {
      top: 50%;
      margin-top: -20px;
    }
  }
}


/* Dispay: Grid */
.grid-videos {
  .item {
    margin: 0 0 20px;
    .inner {
      padding: 0;
    }
    .video-description {
      background: $black;
      padding: 10px;
      margin: 0;
      .video-att-info {
        font-size: ($font-size-small - 1);
        text-align: right;
        .video-date {
          margin: 0;
        }
        .video-actions li {
          padding: 0 2px 0 18px;
        }
      }
      .video-name {
        font-size: 13pt;
        margin: 0 0 5px;
      }
      .video-des {
        font-size: ($font-size-small - 1);
      }
    }
    .video-image {
      position: relative;
      .video-actions {
        background: rgba(0,0,0,0.4);
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        width: 100%;
        z-index: $zindex-tooltip;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        .btn-video-play {
          top: 50%;
          margin: -20px 0 0 -20px;
        }
      }
    }
    &.active,
    &:focus,
    &:hover {
      .video-image .video-actions {
        background: none;
        .btn-video-play {
          background-position: -518px 0px;
          -webkit-transition: all 0s ease 0s;
          -moz-transition: all 0s ease 0s;
          -o-transition: all 0s ease 0s;
          transition: all 0s ease 0s;
        }
      }
    }
  }
}

/* Dispay: List */
.list-videos {
  .inner-item {
    background: $white;
    margin: 0 0 15px;
    position: relative;
    .video-poster {
      max-height: 114px;
    }
    .video-image {
      position: relative;
      padding-right: 0;
      .event-date {
        @extend .font-bebaskai;
        @extend .text-uppercase;
        background-color: $black;
        color: $white;
        font-size: 12pt;
        height: 30px;
        line-height: 30px;
        padding: 0 5px 0 5px;
        position: absolute;
        top: 10px;
        right: 0px;
        &::before {
          content: '';
          background: $black;
          position: absolute;
          top: 0;
          left: -5px;
          transform: skew(-10deg);
          width: 10px;
          height: 30px;
        }
        span {
          @extend .inline-block;
          color: $red;
          padding: 0 3px;
        }
      }
    }
    .video-description {
      background: none;
      color: $black;
      padding: 0;
      position: static;
      .video-name {
        color: $black;
        font-size: 13pt;
        margin: 0 0 10px;
        a {
          color: $black;
          &:active,
          &:focus,
          &:hover {
            color: $red;
            text-decoration: none;
          }
        }
      }
      .video-actions {
        background: $black;
        bottom: 0;
        color: $gray;
        font-size: $font-size-small;
        margin: 0;
        position: absolute;
        right: 0;
        width: 50%;
        li {
          float: left;
          line-height: 22px;
          padding: 0;
          width: 50%;
          a {
            background: $red;
            color: $white;
            display: block;
            text-align: center;
            &:active,
            &:focus,
            &:hover {
              opacity: 0.8;
              text-decoration: none;
            }
          }
          &.video-view {
            background-position: -678px -82px;
            padding: 0 0 0 30px;
          }
        }
      }
    }
  }
}

.upcomingevents {
  background: rgba(2, 27, 62, 0.6);
  padding: 30px 40px 40px 40px;
  .title {
    margin: 0 0 40px;
  }
}

.carousel {
  z-index: 1;
}
